@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}


.main__title {
    text-decoration: none;
    color: white;
    list-style: none;
}

ul {
    list-style: none;
}
li a {
    text-decoration: none;
}

.gif__popular {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom : 40px;
    padding-left: 0%;
}

.gif__popular a {
    color: rgb(88, 88, 88);
}

.form {
    padding-bottom: 50px;
}

.form input{
   
    padding: 10px 20px 10px 30px;
    
}

.form button {
    padding: 10px;
        
}

.gifs__container {
    display: flex;
    justify-content: space-around;
}

.gifs__img {
    flex-direction: column;
    padding: 0px 100px;
}

.gifs__trends {
    padding: 60px 100px 0px 0px;
}


.button__next {
    width: 50%;
    height: 50px;
    margin: 50px 25% ;    
}

@media (max-width : 900px) {
    .gifs__container {
        flex-direction: column;
        text-align: center;
    }
    .gifs__img {
        flex-direction: column;
        padding:0px;
    }
    

    .gifs__trends {
        padding:0px;
    }

}
@media (max-width : 600px) {
    .gifs__img {
        flex-direction: column;
        padding:0px;
    }
    

    .gifs__trends {
        padding:0px;
    }
}

@media (max-width : 300px) {
    .gif__popular {
        flex-direction: column;
        text-align: center;
    }
}