.gf__fav {
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}
.gf__fav--dark {
    background-color:rgb(0, 0, 0);
    border:none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}

.gf__fav--dark:hover {
    background-color:rgb(255, 255, 255);

}

.gf__fav:hover {
    background-color:rgb(0, 0, 0);

}

.gf__fav span {
    color:red;
}