.gif__trends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 0px;

}

.gif__trends li {
    color: white !important;
}

@media (max-width : 900px) {

        .gif__trends{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

}
