.list {
    column-count: 6;
    column-gap: .5em;
    min-height: 100vh;
}

@media (max-width : 600px) {
    .list {
        column-count: 3;
    }
}

@media (max-width : 300px) {
    .list {
        column-count: 2;
    }
}