.conatiner__form--register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.register__container {
  width: 80%;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: var(--brand-color_3);
  -webkit-box-shadow: -6px -7px 38px 16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px -7px 38px 16px rgba(0, 0, 0, 0.75);
  box-shadow: -6px -7px 38px 16px rgba(0, 0, 0, 0.75);
}

.register__form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register__form input {
  padding: 10px 20px 10px 20px;
  margin: 15px;
  border: 0;
  border-radius: 10px;
}


.register__form input.error {
  border: 4px solid var(--theme-body-bg);
}

.errors__ {
  color: var(--theme-body-bg);
  font-size: 10px;
}

.register__form button {
  padding: 10px 30px 10px 30px;
  border: 0;
  border-radius: 10px;
  transition: all 0.2s ease;
  background-color: var(--brand-color_2);
}

.register__form button:disabled {
  opacity: .3;
  pointer-events: none;
}


.register__form button:hover {
  cursor: pointer;
  padding: 12px 35px 12px 35px;
  color: var(--brand-color_2);
  background-color: white;
}
