.conatiner__form--login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login__container {
  width: 80%;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: var(--brand-color_3);
  -webkit-box-shadow: -6px -7px 38px 16px rgba(49, 46, 46, 0.75);
  -moz-box-shadow: -6px -7px 38px 16px rgba(0, 0, 0, 0.75);
  box-shadow: -6px -7px 38px 16px rgba(0, 0, 0, 0.75);
}

.login__form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login__form input {
  padding: 10px 20px 10px 20px;
  margin: 15px;
  border: 0;
  border-radius: 10px;
}

.login__form button {
  padding: 10px 30px 10px 30px;
  border: 0;
  border-radius: 10px;
  background-color: white;
  transition: all 0.2s ease;
}
.login__form button:hover {
  cursor: pointer;
  padding: 12px 35px 12px 35px;
  color: white;
  background-color: var(--brand-color_2);
}


